@import "tailwindcss";

:root {
    --background: hsla(222, 31%, 6%, 1);
    --foreground: hsla(0, 0%, 100%, 1);
    --primary: hsla(183, 100%, 52%, 1);

    --scrollbar: var(--color-zinc-600);
    --scrollbar-track: hsla(0, 0%, 0%, 0);

    /* Toastify Variables */
    --toastify-color-light: var(--color-input-background);
    --toastify-font-family: var(--font-default);
    --toastify-toast-padding: 0px 16px;
    --toastify-toast-bd-radius: 8px;
}

@theme inline {
    --color-background: var(--background);
    --color-card-background: hsla(218, 38%, 6%, 1);
    --color-input-background: #0A0D10;

    --color-foreground: var(--foreground);

    --color-primary-400: hsla(183, 100%, 62%, 1);
    --color-primary: var(--primary);
    --color-primary-600: hsla(183, 100%, 42%, 1);

    --spacing-page-content: min(1024px, 90vw);

    --font-default: var(--font-default);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-default);
}

.debug,
.debug * {
    outline: 1px solid hsla(195, 50%, 50%, 0.25);
}

/* Hiding arrows in input[type=number] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:not(.input-number) {
    -moz-appearance: textfield;
}

input[type="number"]:focus {
    outline: none;
}

/* Scrollbar CSS */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--scrollbar) var(--scrollbar-track);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 10px;
    border: 0px none var(--scrollbar-track);
}

.hide-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        display: none;
    }
}